/* Space out content a bit */

/* Shared */
.bodyLogin {
  background-color: black;
  background-image: url("/images/loginbackgroundleft.jpg");
  background-position: left bottom;
  background-repeat:no-repeat;
}

.bodyExplore {
  background-color: green;
}

.bodySentence {
  background-color: red
}

.navbar {
  background-color: #000000;
  border-radius: 0;
  border: 0;
  color: #666666;
}

/* CSS for Login view */
.jumbotron {
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  width: 60%;
  margin: 0 auto;
  background-color:#cccccc;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: #E31837;
  border: 0;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
