<h1>The Sentence</h1>
<div class="sentenceContainer">
  <h3 class="sentence">I'm &nbsp;</h3>
  <select class="sentence" ng-model="place" ng-options="place.display for place in places"></select>
  <h3 class="sentence">&nbsp; & Feeling &nbsp;</h3>
  <select class="sentence" ng-model="activity" ng-options="activity.display for activity in activities"></select>
  <h3 class="sentence">&nbsp; With &nbsp;</h3>
  <select class="sentence" ng-model="person" ng-options="person.display for person in people"></select>
  <h3 class="sentence">&nbsp; To &nbsp;</h3>
  <select class="sentence" ng-model="genre" ng-options="genre.display for genre in genres"></select>
  <button class="sentenceButton" ng-click="getSentence()"><span class="glyphicon glyphicon-play">&nbsp Sentence</span></button>
<div>